.container {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  background-size: cover;
  position: relative;
}

.redStrip {
  background-color: #df2732;
  opacity: 0.83;
  position: absolute;
  z-index: -1;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  clip-path: inset(0% 0% 50% 0%);
}

.bottom {
  background-color: white;
  border-radius: 40px;
  width: max-content;
  justify-content: space-around;
  margin: 2rem auto 0 auto;
  padding: 0.5rem 0 1.1rem 0;
  box-shadow: 0 0 7px 0 rgba(43, 42, 42, 40%);
}

.logo {
  display: inline-block;
  position: relative;
  height: 12rem;
  width: auto;
  margin: 1.5rem 0 1rem 0;
}

.centerAlign {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 35%;
}

.alignBottom {
  display: flex;
  flex-direction: column;
}

.leftAlign {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-size: 1.3rem;
  font-weight: 700;
}

.subtitle {
  font-weight: 300;
  font-size: 1rem;
}

.input {
  border: none;
  border-bottom: black solid 1px;
  margin-top: 1rem;
  width: 100%;
  padding-left: 1rem;
  font-size: 1.2rem;
  color: rgba(43, 42, 42, 70%);
}

input::placeholder {
  font-size: 1.2rem;
  color: rgba(43, 42, 42, 70%);
}

.questionGroup {
  font-size: 1.5rem;
  margin: 1.1rem 4rem;
  font-weight: 200;
  width: 33rem;
}

.nextButton {
  font-size: 1.2rem;
}
