.container {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  background-size: cover;
  position: relative;
}

.redStrip {
  background-color: #df2732;
  opacity: 0.83;
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  clip-path: inset(0% 0% 50% 0%);
}

.logo {
  display: inline-block;
  position: relative;
  height: 12rem;
  width: auto;
  margin: 1.5rem 0 1rem 0;
}
