/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.container{
    width: 100%;
    height: 100vh;
    margin: 0;
    /* background-image: url("./images/background.png") ; */
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    
}

.logo{
    height: 14rem;
}
.slogan {
    margin-top: 2rem;
}

.left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

}

.right{
    display: flex;
    position: relative;
    flex: 1;
    justify-content: center;
    background-color: white;
    border-radius: 45px 0px 0px 45px;
    box-shadow: -6px 0px 22px rgba(0, 0, 0, 0.25);

}

.text{
    width: 50%;
    display: flex;
    align-items: center;
}

.login{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-title{
    font-family: 'Poppins', sans-serif;
    font-size: 2.8vw;
    font-weight: 700;
    margin-right: 77%;
}

input::placeholder{
    font-size: 130%;
}

input:focus{
    outline: none;
}
.email{
    margin-top: 8vh;
    border:none;
    border-bottom: solid rgba(43, 42, 42, 0.7);
    width: 100%;
    height: 25px;
}

.password-div{
    position: relative;
    width: 100%;
    margin-top: 5vh;
}
.password{
    border:none;
    border-bottom: solid rgba(43, 42, 42, 0.7);
    width: 100%;
    height: 25px;

}
.see-password{
    width: 3.5vh;
    position: absolute;
    bottom: 5px;
    left: 92%;
}
.checkbox{
    font-size: 0.9vw;
    margin-top: 1.4vh;
    margin-right: 60%;
}

.top-button{
    top: 7%;
    right: 18%;
    position: absolute;
}
.bottom-button{
    bottom: 25%;
    right: 18%;
    position: absolute;
}

.forgot-password{
    font-size: 1vw;
    margin-top: 1vh;
}