input.container {
  width: 100%;
  padding-left: 1rem;
  color: rgb(var(--dark-text));

  &::placeholder {
    color: rgb(var(--light-text));
  }

  &:focus,
  &:focus-visible {
    outline: none;
    box-shadow: none;
  }
}
